/* ===== ABOUT SECTION ===== */
@media (min-width: 600px) {
    #aboutSection {
        display: flex;
        align-items: top;
        justify-content: space-between;
        gap: 2rem;
    }
}

#aboutSection p {
    text-align: justify;
}

#aboutSection img {
    max-width: 16rem;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}