/* ===== NAVBAR ===== */
#app-header {
    background: rgba(30,30,30,.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    position: sticky;
    position: -webkit-sticky;   /* for Safari*/
    top: 0;

    min-height: 3.5rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;

    transition: box-shadow .2s ease;
}

#app-header.scrolling {
    box-shadow: 0 0 16px rgba(30,30,30,.5);
}

#app-header nav span {
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav span {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
}

nav span.activeClass {
    border-bottom: 1px solid #1e1e1e;
    transition-delay: 0.25s;
}

nav span:hover {
    border-bottom: 1px solid #1e1e1e;
    cursor: pointer;
}

/* ===== SECTION ===== */
section {
    max-width: 48rem;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    padding: 0 1rem;
}

section h2 {
    margin: 0;
}

/* ===== FOOTER ===== */
#app-footer {
    background: rgb(var(--font));
    padding: 1rem 0;
    text-align: center;
    color: rgb(var(--background));
}