/* ===== EXPERIENCE SECTION ===== */
.experience .experienceHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience h3 {
    margin-bottom: 0;
}

.experience .experienceDates {
    font-weight: normal;
}

.experience h4 {
    margin: .5rem 0;
}

.experience .location {
    font-weight: normal;
    color: rgb(var(--accent1));
}

.experience .experienceSkills {
    font-weight: normal;
    font-style: italic;
}