#app-header {
    background: #cccccc;
    position: -webkit-sticky;   /* for Safari*/
    position: sticky;
    top: 0;
}

#app-header nav {
    padding: 1rem;
}

#app-header nav span {
    margin: 1rem;
    font-size: 1.2rem;
}

/* #app-header nav span::before {
    content: '<';
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    padding-right: .25rem;
}

#app-header nav span::after {
    content: '/>';
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    padding-left: .25rem;
} */