.section {
    max-width: 45rem;
    margin: 1rem auto;
    padding: 1rem;
}

.section h2 {
    margin: 0;
}

/* ===== ABOUT SECTION ===== */
@media (min-width: 600px) {
    #aboutSection {
        display: flex;
        align-items: top;
        justify-content: space-between;
        gap: 2rem;
    }
}

#aboutSection p {
    text-align: justify;
}

#aboutSection img {
    max-width: 16rem;
    border-radius: 100%;
}

/* ===== contactSection ===== */
#contactSection form {
    max-width: 20rem;
    margin: 0 auto;
}

#contactSection form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
}

#contactSection form div input,
#contactSection form div textarea {
    width: 100%;
    padding: 0;
}

#contactSection form button {
    display: block;
    width: 100%;
    margin: 1rem 0;
}

#app-footer {
    background: #1e1e1e;
    padding: 1rem 0;
    text-align: center;
    color: white;
}