/* ===== NAVBAR ===== */
nav span {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
    transition-delay: 0.25s;
}

nav span.activeClass {
    border-bottom: 1px solid #1e1e1e;
}

/* ===== SECTION ===== */
section {
    max-width: 45rem;
    margin: 1rem auto;
    padding: 1rem;
}

section h1, h2 {
    margin: 0;
}

/* ===== HOME SECTION ===== */
#homeSection .greetings {
    margin-bottom: 0;
    color: var(--lightAccent1);
    font-weight: bold;
}

#homeSection h1 {
    margin-top: 0;
}

#homeSection .blurb {
    text-align: justify;
}

#homeSection button {
    
}

/* ===== ABOUT SECTION ===== */
@media (min-width: 600px) {
    #aboutSection {
        display: flex;
        align-items: top;
        justify-content: space-between;
        gap: 2rem;
    }
}

#aboutSection p {
    text-align: justify;
}

#aboutSection img {
    max-width: 16rem;
    border-radius: 100%;
}

/* ===== CONTACT SECTION ===== */
#contactSection form {
    max-width: 20rem;
    margin: 0 auto;
}

#contactSection form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
}

#contactSection form div input,
#contactSection form div textarea {
    width: 100%;
    padding: 0;
}

#contactSection form button {
    width: 100%;
}

#app-footer {
    background: #1e1e1e;
    padding: 1rem 0;
    text-align: center;
    color: white;
}